h1, footer {
    background-color: #45868f;
    color: #fff;
    margin: 1.5rem auto;
    padding: 1rem;
    text-align: center;
    border-radius: 15px;
}

h2 {
    text-align: left;
}

body {
  text-align: center;  
}

#container {
    display: inline-block;
    width: 750px;
}

h1 {
    /*font-family: "palatino";*/
    font-family: 'Piedra', cursive;
    font-size: 50px;
}

img {
    /*float: right;*/
    width: 150px;
    margin-top: 38px;
    margin-right: 15px;
    box-shadow: 10px 10px 10px grey;
}

nav {
    text-align: left;
}

footer {
    font-family: "candara";
    font-size: 15px;
}