  @media only screen and (min-width: 60em) {

    .headings h1 {
      font-size: 3rem;
    }

    .navigation {
      display: flex;
    }

    .navigation li {
      display: block;
      flex: 1 1 auto;
    }

    .navigation a {
      text-align: center;
    }

    .navigation li:first-child {
      display: none;
    }

    .weathersum {
      font-size: 1em;
      width: 10em;
      height: 15em;
      margin-left: 2em;
      margin-top: 75px;
    }

    #map {
      margin-left: 8em;
    }

    .forecast {
      max-width: 700px;
    }

    main,
    footer {
      width: 90%;
      margin: auto;
      text-align: center;
    }
  }