@media only screen and (min-width: 32.5em) {

  .headings h1 {
    font-size: 3rem;
  }

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

  .weathersum {
    font-size: .5em;
  }

  .forecast-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
}

.forecast{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background: radial-gradient(rgb(231, 201, 102), rgb(197, 153, 70));
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    max-width:900px;
    width:90%;
    margin: 0 auto;
    padding: .7rem .5rem;
    /*border: 1px solid #0083c6;*/
}

.forecasticon {
    max-width: 100px;
    height: auto;
    margin-top: .5rem;
    width: 5rem;
    background-color: rgb(226, 203, 128);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.forecast div p{
    margin: .1rem auto;
}

  #title {
    text-align: left;
  }

  .article p {
    margin-right: 50px;
  }

  .contactus {
    width: 95%;
    clear: both;
    display: grid;
    margin: 40px;
    grid-column: 1;
  }
#map {
  display: block;
  
}
  section.contact {
    grid-column: 2;
    align-self: center;
    margin-left: 100px;
    float: left;
  }


  main,
  footer {
    width: 60%;
    margin: auto;
    text-align: center;
  }
}