body{
    max-width: 100%;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

.logo {
    max-width: 100px;
    height: auto;
    border: 10px solid black;
    border-radius: 100px;
}

header {
    color: white;
    background-color: rgb(6, 67, 158);
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headings {
    display: flex;
    flex-direction: column;
}
headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}

nav {
    margin: 0 auto;
    background-color: rgb(133, 111, 102);
  
  }
  .navigation {
    list-style: none;
    text-align: center;
    padding: 0;
  }
  .navigation li:first-child {
    display: block;
  }
  .navigation li {
    display: none;
  }
  .navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 700;
  }
  .navigation a:hover {
    color: #aaa9a5;
    background-color: white;
  }
  .responsive li {
    display: block;
  }
 

.contentbox {
    border: 1px dashed black;
    font-size: 2rem;
    background-color: rgb(71, 128, 233);
    margin: 10px;
    padding: 10px;
}

footer{
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: rgb(6, 67, 158);
    padding: 1rem;
}