  @media only screen and (min-width: 64rem) {

    .headings h1 {
      font-size: 3rem;
    }

    .navigation {
      display: flex;
    }

    .navigation li {
      display: block;
      flex: 1 1 auto;
    }

    .navigation a {
      text-align: center;
    }

    .navigation li:first-child {
      display: none;
    }

    /*.weathergallery {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      justify-items: center;
      grid-gap: 15px;
  }
  figure {
      margin: 0;
  }
  figure:hover{
   box-shadow: 2px 3px 30px grey;
}*/

    #towns {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 1rem;
    }

    .town {
      display: flex;
      flex-direction: column;
      margin: 1rem;
    }

    main,
    footer {
      width: 90%;
      margin: auto;
      text-align: center;
    }
  }