body {
  max-width: 100%;
  font-size: 22px;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  margin: 0;
}

.logo {
  max-width: 100px;
  height: auto;
  border: 5px solid black;
  border-radius: 100px;
}

header {
  color: white;

  background: radial-gradient(rgb(6, 67, 158), rgb(5, 12, 78));
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headings {
  display: flex;
  flex-direction: column;
}

headings h1 {
  font-size: 1.6rem;
  margin: 0 0 0 17px;
  font-family: 'Roboto Condensed', sans-serif;
}

#pancakes {
  text-align: center;
  font-style: italic;
  padding: 15px;
  border: 1px solid;
  color: black;
  background-color: rgb(224, 180, 35);
}

nav {
  margin: 0 auto;
  background: radial-gradient(rgb(109, 106, 104), rgb(82, 80, 79));
  text-align: center;
}

.navigation {
  list-style: none;
  text-align: center;
  padding: 0;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.navigation a:hover {
  color: #6d6c6a;
  background-color: white;
}

.active {
  background-color: rgba(3, 2, 2, 0.2);
}

.responsive li {
  display: block;
}

/*.weathergallery{
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(1, 1fr);
   justify-content: center;
   width: 100%;
   margin: 1rem auto;
}

figure {
  background-color: white;
  padding: 10px;
  text-align: center;
}

figcaption{
  color: #022B3A;
  font-family: "Open Sans"; 
  text-align: center;
  padding: 0 0 10px 0;
  background-color: white;
}*/

/*town data */

.town {
  display: grid;
  grid-gap: 0px;
  grid-auto-columns: auto;
  justify-content: center;
  max-width: auto;
  margin: 2rem auto;
  background-color: rgb(210, 221, 238);
}

div.picture {
  margin: 0 auto;
}

div.picture img {
  margin: 1rem;
  padding: 1rem;
  width: 20rem;
  align-content: center;
}

div.info p {
  padding: 0px;
  margin: .5rem;
  font-family: "Roboto Mono";
  color: navy;
}

div.info h4, h2 {
  color: navy;
  font-family: "Roboto";
}

main {
  text-align: center;
}

footer {
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: rgb(6, 67, 158);
  padding: 1rem;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}