@media only screen and (min-width: 32.5em) {

  .headings h1 {
    font-size: 3rem;
  }

  .navigation {
    display: flex;
    max-width: 80%;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }
.weathersum {
  font-size: .7em;
}

  .contactus {
    width: 95%;
    clear: both;
    display: grid;
    margin: 40px;
    grid-column: 1;
  }

  section.contact {
    grid-column: 2;
    align-self: center;
    margin-left: 100px;
  }


  main,
  footer {
    width: 60%;
    margin: auto;
    text-align: center;
  }
}