body {
    max-width: 100%;
    font-size: 22px;
  }
  .title {
    text-align: center;
    align-items: center;
    justify-items: center;
    color: white;
    background-color: rgb(34, 31, 206);
    padding: 10px;
  }
  nav {
    background-color: rgb(212, 212, 230);
    text-align: center;
  }
  nav a{
    font-size: 20px;
    color: rgb(34, 31, 206);
  }
  nav ul {
    list-style-type: none;
  }
  nav ul li {
    display: block;
    text-align: center;
    padding: 1rem;
    font-size: 1.5em;
  }
  h1,h2,h3,h4 {
      font-family: 'Roboto Condensed', sans-serif;
      text-align: left;
  }
  p {
      font-family: domine;
      text-align: left;
    }
  ul {
      font-family: domine;
  }
  .logo {
      width: 20%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  section {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
  }
  footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(34, 31, 206);
    color: white;
  }
  
  
  /*Color Table*/
  .colors {
      width: 50%;
      min-width: 350px;
      margin: auto;
      text-align: center;
    }
    .colors th {
      background-color: #999;
    }
    .colors td{
      width: 25%;
      height: 3em;
    }
  .primary {
      background-color: #ffffff;
    }
    .secondary {
      background-color: #4A6D7C;
    }
    .accent1 {
      background-color:#297373;
    }
    .accent2{
      background-color: #FF8552;
    }